<div th:replace="fragments/base_layout (template='::')">
    <section id="signup-form" class="vh-100 bg-image">
        <div class="mask d-flex align-items-center h-100">
            <div class="container h-100">
                <div class="row d-flex justify-content-center align-items-center h-100">
                    <div class="col-12 col-md-9 col-lg-7 col-xl-6">
                        <div class="card" style="border-radius: 15px;">
                            <div class="card-body p-5">
                                <h2 class="text-uppercase text-center mb-5">Create an account</h2>
                                <form action="#" th:action="@{/create-user}" th:object="${user}" method="post">
                                    <div class="form-outline mb-4">
                                        <label class="form-label" for="firstName">First Name:</label>
                                        <input class="form-control form-control-lg" type="text" field="*{firstName}" id="firstName" name="firstName" placeholder="First Name"/>
                                    </div>
                                    <div class="form-outline mb-4">
                                        <label class="form-label" for="lastName">Last Name:</label>
                                        <input class="form-control form-control-lg" type="text" field="*{lastName}" id="lastName" name="lastName" placeholder="Last Name"/>
                                    </div>
                                    <div class="form-outline mb-4">
                                        <label class="form-label" for="email">Email:</label>
                                        <input class="form-control form-control-lg" type="email" field="*{email}" id="email" name="email" placeholder="email@email.com"/>
                                    </div>
                                    <div class="form-outline mb-4">
                                        <label class="form-label" for="username">Username:</label>
                                        <input class="form-control form-control-lg" type="text" field="*{username}" id="username" name="username" placeholder="Username"/>
                                    </div>
                                    <div class="form-outline mb-4">
                                        <label class="form-label" for="password">Password:</label>
                                        <input class="form-control form-control-lg" type="password" field="*{password}" id="password" name="password" placeholder="************"/>
                                    </div>

                                    <div class="d-flex justify-content-center">
                                        <input class="btn btn-success btn-block btn-lg gradient-custom-4 text-body" type="submit" value="Signup">
                                    </div>

                                    <p class="text-center text-muted mt-5 mb-0">Have already an account? <a href="#" class="fw-bold text-body"><u>Login here</u></a></p>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
