<section th:fragment="signup-form" class="bg-color-light-gray vh-100">
    <div class="d-flex align-items-center h-100">
        <div class="container h-100">
            <div class="row d-flex justify-content-center align-items-center h-100 p-5">
                <div class="col-12 col-md-9 col-lg-7 col-xl-6">
                    <div class="card">
                        <div class="card-body p-5">
                            <h2 class="title text-center mb-5">Create an account</h2>
                            <form action="#" th:action="@{/create-user}" th:object="${user}" method="post">
                                <div class="row">
                                    <div class="col-md-6 mb-4">
                                        <div class="form-outline">
                                            <label class="form-label" for="firstName">First Name:</label>
                                            <input class="form-control form-control-lg" type="text" field="*{firstName}" id="firstName" name="firstName"/>
                                        </div>
                                    </div>
                                    <div class="col-md-6 mb-4">
                                        <div class="form-outline">
                                            <label class="form-label" for="lastName">Last Name:</label>
                                            <input class="form-control form-control-lg" type="text" field="*{lastName}" id="lastName" name="lastName"/>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="form-outline mb-4">
                                        <label class="form-label" for="email">Email:</label>
                                        <input class="form-control form-control-lg" type="email" field="*{email}" id="email" name="email"/>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6 mb-4">
                                        <div class="form-outline">
                                            <label class="form-label" for="username">Username:</label>
                                            <input class="form-control form-control-lg" type="text" field="*{username}" id="username" name="username"/>
                                        </div>
                                    </div>
                                    <div class="col-md-6 mb-4">
                                        <div class="form-outline">
                                            <label class="form-label" for="password">Password:</label>
                                            <input class="form-control form-control-lg" type="password" field="*{password}" id="password" name="password"/>
                                        </div>
                                    </div>
                                </div>

                                <div class="mt-4 pt-2">
                                    <input class="btn btn-blue btn-block btn-lg w-100" type="submit" value="Signup">
                                </div>

                                <p class="text-center text-muted mt-5 mb-0">Have already an account? <a href="#" class="fw-bold text-body"><u>Login here</u></a></p>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
